<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  </head>
  <body>
    <div style="text-align: left; margin-left: 20px;">
      <p style="font-size: 35px; font-weight: lighter;">App V2.1 released
      <span style="font-size: 15px; width: 175px; height: 30px; font-weight: normal; margin-left: 20px; background-color: rgb(236, 236, 236);" class="badge badge-pill badge-light">2020-11-20</span></p>
      <p>This release contains large update of the German translation and few bug fixes.</p>
      <p>Eager to learn more about the new features?Follow us on Facebook, Twitter or LinkedIn.</p>
      <span style="font-weight: 600; font-size: 15px; background-color: rgb(52, 189, 52); color: white;  width: 200px; height: 30px; margin-left: 10px;" class="badge badge-pill">GO TO DOWNLOAD PAGE</span>
      <span  style="font-weight: 600; margin-left: 15px; font-size: 15px; background-color: rgb(161, 243, 193); margin-left: 20px; color: rgb(10, 206, 10); width: 250px; height: 30px;" class="badge badge-pill ">COMPLETE LIST OF CHANGES</span>
    </div>
    <br><hr>
    <div style="text-align: left; margin-left: 20px;">
      <p style="font-size: 35px; font-weight: lighter;">App V2.0 released
      <span style="font-size: 15px; width: 175px; height: 30px; font-weight: normal; margin-left: 20px; background-color: rgb(236, 236, 236);" class="badge badge-pill badge-light">2020-10-15</span></p>
      <p>In this release, App was updated to openSSL 1.1.1h. This version also fixed several bugs and adds some small improvements.</p>
      <span  style="font-weight: 600; font-size: 15px; background-color: rgb(161, 243, 193); margin-left: 2 0px; color: rgb(10, 206, 10); width: 250px; height: 30px;" class="badge badge-pill badge-success">COMPLETE LIST OF CHANGES</span>
    </div>
  </body>
</html> 