<div class="box">
  <p class="heading">FAQs</p>
  <div class="faqs">
     <details>
        <summary><i class="material-icons" style="color: blue;">&#xe150;</i>Can I cancel subscription?</summary>
        <p class="text">You can cancel subscription anytime but you will not be refunded any subscription amount that is changed. The cancellation is effective till the valid billing period. Which means you can continue 
          using the services of Streak till the end of the billing cycle. Additionally, you can write a amil to support@streak.teach.</p>
     </details>
     <details>
        <summary><i class="material-icons" style="color: blue;">&#xe150;</i>What happens when I upgrade a Plan?</summary>
        <p class="text">You can cancel subscription anytime but you will not be refunded any subscription amount that is changed. The cancellation is effective till the valid billing period. Which means you can continue 
          using the services of Streak till the end of the billing cycle. Additionally, you can write a amil to support@streak.teach.</p>
     </details>
     <details>
        <summary><i class="material-icons" style="color: blue;">&#xe150;</i>What is the procedure to pay streak?</summary>
        <p class="text">You can cancel subscription anytime but you will not be refunded any subscription amount that is changed. The cancellation is effective till the valid billing period. Which means you can continue 
          using the services of Streak till the end of the billing cycle. Additionally, you can write a amil to support@streak.teach.</p>
     </details>
     <details>
      <summary><i class="material-icons" style="color: blue;">&#xe150;</i>What happens when I downgrade a Plan?</summary>
      <p class="text">You can cancel subscription anytime but you will not be refunded any subscription amount that is changed. The cancellation is effective till the valid billing period. Which means you can continue 
                      using the services of Streak till the end of the billing cycle. Additionally, you can write a amil to support@streak.teach.</p>
     </details>
     <details>
      <summary><i class="material-icons" style="color: blue;">&#xe150;</i>Can I Subscribe to a monthly plan using other payment option?</summary>
      <p class="text">You can cancel subscription anytime but you will not be refunded any subscription amount that is changed. The cancellation is effective till the valid billing period. Which means you can continue 
                      using the services of Streak till the end of the billing cycle. Additionally, you can write a amil to support@streak.teach.</p>
     </details>
     <details>
      <summary><i class="material-icons" style="color: blue;">&#xe150;</i>What's is the process to stop auto-renewal?</summary>
      <p class="text">You can cancel subscription anytime but you will not be refunded any subscription amount that is changed. The cancellation is effective till the valid billing period. Which means you can continue 
                      using the services of Streak till the end of the billing cycle. Additionally, you can write a amil to support@streak.teach.</p>
     </details>
  </div>
</div>